{% extends 'base.html.twig' %}


{% block title %}Créer une annonce !
{% endblock %}

{% block body %}
	{{component('header')}}
	<session id="symfoForm" class="p-5 w-5/12">
		<h1 class=" text-3xl font-bold">Infos générales</h1>
		{{form_start(createProductForm)}}
		{{form_widget(createProductForm)}}
		{{form_end(createProductForm)}}
	</session>


{% endblock %}
