{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div>
    {% for tag in tags %}
        <div>
            <div>{{ tag.name }} \</div>
            <a href="{{ path('app_tag_edit',{'id': tag.id}) }}">Modifier \</a>
            <a href="{{ path('app_tag_delete',{'id': tag.id}) }}">Delete</a>
        </div>
        </br>
    {% endfor %}
</div>
{% endblock %}
