{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div >
    <h1>Créer un tag</h1>
   {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
