
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

# Ignore everything in the /upload/images directory except the chat*.jpg files
/upload/images/*
!/upload/images/chat*.jpg

# Ignore everything in the /migrations directory except the .gitingore file
/migrations/*
!/migrations/.gitignore